/*
    Color Scheme
        Gold       #CDA34F
        Daisy      #E9E7DA
        Stem       #636B46
        Greenery   #373F27
*/

@font-face{
	font-family: Playfair;
	src: url("../Fonts/Playfair.ttf") format("truetype");
}

@font-face{
	font-family: Lato;
	src: url("../Fonts/Lato.ttf") format("truetype");
}

body{
    background-color: #CDA34F;
}

#container{
    width: 75%;
    margin-left: 12.5%;
    background-color: #E9E7Da;
    
}

header{
    padding: 2%;
}

header #social_media{
    float: right;
    vertical-align: text-top;
    position: relative;
    top: -50px;
    font-size: 1.2em;
}

#search_bar{
    vertical-align: middle;
    margin-left: 32.5%;
    margin-top: 3%;
}

#search_bar > input{
    min-width: 300px;
    min-height: 50px;

    background: #373F27;
    color: white;
    border: none;
    border-radius: 50px;

    padding: 20px;

}

#social_media a img{
    width: 25px;
}

header, footer{
    background-color: #373F27;
    color: white;
}

h1, h2, h3, h4, h5, h6{
    font-family: Playfair, serif;
}

header h1{
    font-size: 2em;
}

nav{
    width: 100%;
    background-color: #373F27;
}

.hamburger {
    position: relative;
    left: -5000px;
    display: inline-block;
    width: 2.5em;
    height: 1.6em;
    margin-right: 0.3em;
    border-top: 0.4em solid black;
    border-bottom: 0.4em solid black;
    margin-top: 0.1em;
}

.hamburger:before {
    content: "";
    position: absolute;
    top: 0.6em;
    left: 0px;
    width: 100%;
    border-top: 0.4em solid black;
}

#ham_but{
    border: none;
    background-color: none;
    position: relative;
    left: -5000px;
    cursor: pointer;
    margin-left: 45%;
}

nav ul{
    list-style: none;
    font-family: Lato, sans-serif;
}

nav ul li{
    float: left;
    width: 30%;
    height: 2em;
    text-decoration: none;
    color: white;
    background-color: #636B46;
    border: 1px solid black;
    text-align:center;
}

nav ul li:hover{
    background-color: #373F27;
}

article{
    border-top: 3px solid grey;
}

section{
    width: 66%;
    margin-left: 17%;
    font-family: Lato, sans-serif;
}

.recipe_title{
    text-align: center;
    font-size: 1.75em;

}

.recipe_picture{
    border-top: 3px solid grey;
}

.recipe_picture img{
    width: 50%;
    margin-left: 25%;
}

.cookbook_description{
    padding-top: 3px;
}

.ingredient_list table{
    margin: auto;
    border-spacing: 0;
    min-width: 50%;
}

.ingredient_list table th{
    border-bottom: 1px solid black;
    text-align: left;
}

.ingredient_list table tr:nth-child(even){
    background-color: rgba(99,107,70,0.5);
}

.cookbook_description, .original_recipe, .ingredient_list, .recipe_picture{
    border-bottom: 3px solid grey;
    padding-bottom: 3px;
    
}

.cookbook_description h1, .original_recipe h1, .ingredient_list h1, .preperation_description h1{
    text-align: center;
    font-size: 1.5em;
}

.cookbook_description h2, .original_recipe h2, .ingredient_list h2, .preperation_description h2{
    text-align: center;
    font-size: 1.25em;
}

footer a{
    padding-right: 15px;
}

@media only screen and (max-width: 425px){
    #container{
        width: 100%;
        margin: 0;
    }
    .hamburger{
        left: 0;
    }
    #ham_but{
        left: 0;
    }
    nav{
        width: 100%;
    }
    #nav_bar{
        display: none;
    }
    nav ul li{
        width: 80%;
        float: none;
    }
    header #social_media{
        display: none;
    }
    #search_bar{
        display: none;
    }
}

@media only screen and (max-width: 600px){
    #container{
        width: 100%;
        margin: 0;
    }
    header #social_media{
        display: none;
    }
    #search_bar{
        margin-left: 25%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1000px){
    #container{
        width: 87.5%;
        margin: 0;
        margin-left: 6.25%;
    }
    header #social_media{
        display: none;
    }
}
